@model CSGO.Models.IndexViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutCSGO.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title"><span class="glyphicon glyphicon-book"></span> Home</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            This is the home page with the home content. blah blah blah.
        </div>
    </div>
</div>
